<div x-show="docs"
class="fixed inset-0 overflow-y-auto overflow-x-hidden bg-slate-900/20 backdrop-blur z-50 transform transition lg:hidden"
style="display: none;">
  <div @click.outside="docs = false" class="min-h-full w-full bg-white max-w-xs pt-7 pb-16 px-6 xl:pr-16">
    <div class="flex justify-end">
      <button @click="docs = ! docs" type="button"
        class="inline-flex items-center justify-center text-slate-500 hover:text-sky-500 focus:outline-none"
        aria-expanded="false">
        <span class="sr-only">Toggle main menu</span>
        <svg class="hh-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentcolor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav>
      <ul class="space-y-9">
        {% for section in site.data.navigation_docs %}
          <li>
            {% if section.title %}
              <h2 class="font-display font-semibold text-slate-900">{{ section.title }}</h2>
              <ul class="mt-3 space-y-3">
                {% for doc in section.docs %}
                  {% assign doc_url = doc | prepend:"/" %}
                  {% assign p = site.docs | where:"url", doc_url | first %}
                  <li class="relative">
                    <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:left-0.5 before:top-1/2 before:h-0.5 before:w-1.5 before:-translate-y-1/2 
                    {% if doc_url == page.url %} text-sky-500 before:bg-sky-500{% else %} text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-900 hover:before:block{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {% assign doc_url = section | prepend:"/" %}
              {% assign p = site.docs | where:"url", doc_url | first %}
              <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:left-0.5 before:top-1/2 before:h-0.5 before:w-1.5 before:-translate-y-1/2 
              {% if doc_url == page.url %} text-sky-500 before:bg-sky-500{% else %} text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-900 hover:before:block{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
