<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="scroll-smooth">

  {% include head.html %}

  <body x-data="{ docs: false, mobile: false }" class="relative">
  
    {% include navbar.html %}

    <div class="relative mx-auto flex max-w-7xl justify-center px-2 lg:px-8">
      <div class="hidden lg:relative lg:block lg:flex-none">
        <div class="sticky top-[4.5rem] -ml-0.5 w-64 overflow-y-auto overflow-x-hidden pt-16 pl-0.5 pr-8 xl:w-72 xl:pr-16">
          <nav class="text-sm">
            <ul class="space-y-9">
              {% for section in site.data.navigation_docs %}
                <li>
                  {% if section.title %}
                    <h2 class="font-display font-semibold text-slate-900">{{ section.title }}</h2>
                    <ul class="mt-4 space-y-4 border-slate-200">
                      {% for doc in section.docs %}
                        {% assign doc_url = doc | prepend:"/" %}
                        {% assign p = site.docs | where:"url", doc_url | first %}
                        <li class="relative">
                          <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:left-0.5 before:top-1/2 before:h-0.5 before:w-1.5 before:-translate-y-1/2 
                          {% if doc_url == page.url %} text-sky-500 before:bg-sky-500{% else %} text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-900 hover:before:block{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        </li>
                      {% endfor %}
                      {% for ext in section.external %}
                      <li class="relative">
                        <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:left-0.5 before:top-1/2 before:h-0.5 before:w-1.5 before:-translate-y-1/2 text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-900 hover:before:block"
                           href="{{ ext.src }}">{{ ext.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {% assign doc_url = section | prepend:"/" %}
                    {% assign p = site.docs | where:"url", doc_url | first %}
                    <a class="block w-full pl-3.5 before:pointer-events-none before:absolute before:left-0.5 before:top-1/2 before:h-0.5 before:w-1.5 before:-translate-y-1/2 
                    {% if doc_url == page.url %} text-sky-500 before:bg-sky-500{% else %} text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-900 hover:before:block{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="min-w-0 flex-auto px-4 pt-16 lg:max-w-none lg:pl-8 lg:pr-0 {% if page.layout == 'doc' %} max-w-2xl xl:px-16{{ else }} max-w-4xl xl:pl-16{% endif %}">
        {{ content }}
      </div>
      {% if page.layout == 'doc' %}
        <div class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
          <nav aria-labelledby="on-this-page-title" class="w-56">
            <h2 id="on-this-page-title" class="font-display text-sm font-semibold text-slate-900">{{ site.data.translation[site.lang].toc | default: 'TOC' }}</h2>
            {% toc %}
          </nav>
        </div>
      {% endif %}
    </div>  
    
    {% include footer.html %}

    </body>

</html>
