<div class="relative rounded-xl p-8 shadow-xl shadow-slate-200 bg-sky-950 group overflow-hidden mt-7 md:mt-14">
  {% if include.params.icon and include.params.icon != empty %}
    <div class="absolute bottom-2 right-6 text-sky-900 w-44 h-44 svg-full">
      {% include icons/{{ include.params.icon }}.svg %}          
    </div>
  {% endif %}
  <div class="relative">
    <h2 class="font-display font-bold text-2xl text-white">{{ include.params.heading }}</h2>
    <p class="mt-3 text-base text-slate-100 leading-relaxed max-w-2xl">{{ include.params.copy }}</p>
    {% if include.params.button.url and include.params.button.url != empty %}
      <div class="inline-block mt-6 rounded-md bg-sky-500 px-3.5 py-2 text-sm font-semibold font-display text-white group-hover:bg-sky-600">{{ include.params.button.text }}</div>
    {% endif %}
  </div>
  {% if include.params.button.url and include.params.button.url != empty %}
    <a href="{{ include.params.button.url | relative_url }}" class="absolute inset-0" aria-label="{{ include.params.button.text }}"></a>
  {% endif %}
</div>

