<div class="grid grid-cols-1 gap-6 md:gap-x-12 md:gap-y-14 mt-7 md:mt-14">
  {% for section in include.params.navs %}
    <div>
      <div class="flex items-center space-x-2">
        {% if section.icon and section.icon != empty %}
          <div class="text-slate-900">
            {% include icons/{{ section.icon }}.svg %}           
          </div>
        {% endif %}
        <h2 class="font-display font-bold text-lg group-hover:underline underline-offset-4 decoration-1 text-slate-900">{{ section.title }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-4 h-4 text-slate-400 group-hover:text-sky-500 mt-0.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
        <span class="flex items-center space-x-2 border border-sky-100 px-1.5 py-0.5 rounded group-hover:border-sky-200">
          {% if section.docs %}<span class="uppercase text-[0.6875rem] text-slate-500 group-hover:text-sky-500">{{ section.docs | size }} {{ site.data.translation[site.lang].articles | default: "docs" }}</span>{% endif %}
        </span>
      </div>
      {% if section.description and section.description != empty %}
        <p class="mt-4 text-base text-slate-500 leading-relaxed max-w-none">{{ section.description }}</p>
      {% endif %}
      {% if section.docs %}
        <br>
        <!-- <div class="space-x-3">
          <br>
          {% for d in section.docs %}
            {% assign naviIndex = {{forloop.index}} %}
            <div><a href="{{ d.url }}" class="text-slate-900 hover:text-sky-500">{{d.name}}</a></div>
          {% endfor %}
        </div> -->
        <div class="grid grid-cols-1 gap-7 md:gap-x-12 md:gap-y-14 md:grid-cols-2">
          {% for d in section.docs %}
            <div class="relative rounded-xl p-6 shadow-xl shadow-slate-200 bg-sky-50 group overflow-hidden">
              {% if d.icon and d.icon != empty %}
                <div class="absolute bottom-0 right-2 text-sky-400 svg-full w-36 h-36">
                  {% include icons/{{ d.icon }}.svg %}           
                </div>
              {% endif %}
              <div class="relative">
                <h2 class="font-display font-bold text-xl text-sky-400">{{ d.name }}</h2>
                <p class="mt-2 text-base text-slate-500 leading-relaxed max-w-[18rem]">{{ d.description }}</p>
                {% if d.button.url and d.button.url != empty %}
                  <div class="inline-block mt-4 rounded-md bg-sky-600 px-2.5 py-1.5 text-sm font-semibold font-display text-white group-hover:bg-sky-700">{{ d.button.text }}</div>
                {% endif %}
              </div>
              {% if d.button.url and d.button.url != empty %}
                <a href="{{ d.button.url | relative_url }}" class="absolute inset-0" aria-label="{{ d.button.text }}"></a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>